<head>
    <title> <%= title %></title>
    <link rel = "stylesheet" type = "text/css" href = "../../style/patient-record.css" />
</head>
<body style = "background-color:rgb(242, 246, 216)">
    
    <h2 class = "topleft"><a href = "/home">Home</a></h2> 
    
    <h3 class = "topright"><a href = "/">Logout</a></h3>
    <div class = "patient">
        <img src="../img/guest.jpg" alt="Patient" width="140" height="140" class = "guest">
        <h1 class = "name">Patient: <%= patient.fName %> <%= patient.lName %></h1>
    </div>
   
    
    
    <div class ="genInfo" id = "div1">
        <div>
            <label for "div1" class = "label"><u>General Patient Info</u></label>
            <span class = "info">DOB: <%= patient.birthday %></span>
            <span class = "info">Sex: <%= patient.sex %></span>
            <span class = "info">Age: <%= patient.age %></span>
            <span class = "info">Insurance: <%= patient.insurance %></span>
            <span class = "info">PCP: <%= patient.pcp %></span>
        </div>
    </div>

    <label for "div2" class = "infoLabel">Visits</label>
    <div>
        <table class = "center" id = "queryTable" name = "openingtable" style = "width:77%">
            <tr>
              <th>Visit Date</th>
              <th>Event</th>
              <th>Attending Physician</th>
            </tr>
            <% patient.visits.forEach(function(visit) { %> 
                <tr>
                  <td><a href="/visit-record?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>"><%= visit.date %></a></td>
                  <td><%= visit.event%></td>
                  <td><%= visit.physician%></td>
                  </tr>
              <% }) %> 
                </table>
    </div>
    <div>
        <a href = "/newVisit?patient_id=<%= patient.patient_id %>" class = "infoLabel">Add Visit</a>
    </div>
    
</body>

