<h2 class = "link"><a href = "/home">Home</a></h2>
<h3><a href = "/">Logout</a></h3>
<h2 class = "link"><a href = "/visit-record?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>">Back to visit</a></h2>  

<h1>Add HPI</h1> 
<form action ="/newHPI?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>" method = 'POST'>
    <div>
        <label for = "hpi">HPI</label>
        <textarea id = "hpi" name = "hpi" rows = "20" cols = "100" required><%= visit.hpi %></textarea>
    </div>
    <button type = "submit">Add HPI</button>
</form>