<head>
    <title>Home</title>
    <link rel = "stylesheet" type = "text/css" href = "style/newMDM.css" />
  </head>

<h2 class = "link"><a href = "/home">Home</a></h2> 
<h3 class = "topright"><a href = "/">Logout</a></h3>
<h2 class = "link"><a href = "/visit-record?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>">Back to visit</a></h2>
<h1>Add MDM</h1> 

<div>

</div>
<form action ="/newAssessment?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>" method = 'POST'>
    <div>
        <label for = "health">Health Issue</label>
        <input type="text" id = "health" name = "health" required>
        <label for = "diff">Differential</label>
        <input type="text" id = "diff" name = "diff">
    </div>
    <button type = "submit">Add Assessment</button>
</form>


<form action ="/newMDM?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>" method = 'POST'>
    <div>
        <label for = "thoughts">Plan of Care</label>
        <textarea id = "thoughts" name = "thoughts" maxlength = "2000" rows = "20" cols = "100" required><%= visit.phys_thoughts %></textarea>
    </div>
    <div>
        <label for = "name">Attending Physician Name</label>
        <input type="text" id = "name" name = "name" maxlength = "25" value = "<%= visit.phys_name %>"required>
    </div>
    <div>
        <label for = "ref">Referrals</label>
        <input type="text" id = "ref" name = "ref" maxlength = "255" value = "<%= visit.reff %>"required>
    </div>
    <div>
        <label for = "plan">Patient agrees to plan</label>
        <select id = "plan" name = "plan"  type = "text" required>
            <option>No</option>
            <option>Yes</option>
        </select>
    </div>
    <div>
        <label for = "med">Medicines Prescribed</label>
        <input type="text" id = "med" name = "med" maxlength = "255" value = "<%= visit.med_presc %>"required>
        <!-- <label for = "instr">Instructions</label>
        <input type="text" id = "instr" name = "instr" required> -->
    </div>
    <button type = "submit">Add Physician Thoughts</button>
</form>