<head>
    <link rel = "stylesheet" type = "text/css" href = "style/newPhys.css" />
</head>

<h2 class = "link"><a href = "/home">Home</a></h2> 
<h3 class = "topright"><a href = "/">Logout</a></h3>
<h2 class = "link"><a href = "/visit-record?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>">Back to visit</a></h2>
<h1>Add Physical Exam</h1> 
<form action ="/newPhys?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>" method = 'POST'>
    <div>
        <fieldset>
            <legend>General Survey</legend>
            <label for="gen_norm">Normal Findings</label>
            <input id="gen_norm" name="gen_norm" maxlength = "255" value = "<%= visit.phys_gen_norm %>"/>
          
            <label for="gen_ab">Abnormal Findings</label>
            <input id="gen_ab" name="gen_ab" maxlength = "255" value = "<%= visit.phys_gen_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Heart</legend>
            <label for="heart_norm">Normal Findings</label>
            <input id="heart_norm" name="heart_norm" maxlength = "255" value = "<%= visit.phys_heart_norm %>"/>
          
            <label for="heart_ab">Abnormal Findings</label>
            <input id="heart_ab" name="heart_ab" maxlength = "255" value = "<%= visit.phys_heart_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Lungs</legend>
            <label for="lung_norm">Normal Findings</label>
            <input id="lung_norm" name="lung_norm" maxlength = "255" value = "<%= visit.phys_lungs_norm %>"/>
          
            <label for="lung_ab">Abnormal Findings</label>
            <input id="lung_ab" name="lung_ab" maxlength = "255" value = "<%= visit.phys_lungs_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Skin</legend>
            <label for="skin_norm">Normal Findings</label>
            <input id="skin_norm" name="skin_norm" maxlength = "255" value = "<%= visit.phys_skin_norm %>"/>
          
            <label for="skin_ab">Abnormal Findings</label>
            <input id="skin_ab" name="skin_ab" maxlength = "255" value = "<%= visit.phys_skin_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>HEENT</legend>
            <label for="heent_norm">Normal Findings</label>
            <input id="heent_norm" name="heent_norm" maxlength = "255" value = "<%= visit.phys_heent_norm %>"/>
          
            <label for="heent_ab">Abnormal Findings</label>
            <input id="heent_ab" name="heent_ab" maxlength = "255" value = "<%= visit.phys_heent_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Abdo</legend>
            <label for="abdo_norm">Normal Findings</label>
            <input id="abdo_norm" name="abdo_norm" maxlength = "255" value = "<%= visit.phys_abdo_norm %>"/>
          
            <label for="abdo_ab">Abnormal Findings</label>
            <input id="abdo_ab" name="abdo_ab" maxlength = "255" value = "<%= visit.phys_abdo_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Mus/Skel</legend>
            <label for="mus_norm">Normal Findings</label>
            <input id="mus_norm" name="mus_norm" maxlength = "255" value = "<%= visit.phys_mus_norm %>"/>
          
            <label for="mus_ab">Abnormal Findings</label>
            <input id="mus_ab" name="mus_ab" maxlength = "255" value = "<%= visit.phys_mus_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Neuro</legend>
            <label for="neuro_norm">Normal Findings</label>
            <input id="neuro_norm" name="neuro_norm" maxlength = "255" value = "<%= visit.phys_neuro_norm %>"/>
          
            <label for="neuro_ab">Abnormal Findings</label>
            <input id="neuro_ab" name="neuro_ab" maxlength = "255" value = "<%= visit.phys_neuro_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>OMM</legend>
            <label for="omm_norm">Normal Findings</label>
            <input id="omm_norm" name="omm_norm" maxlength = "255" value = "<%= visit.phys_omm_norm %>"/>
          
            <label for="omm_ab">Abnormal Findings</label>
            <input id="omm_ab" name="omm_ab" maxlength = "255" value = "<%= visit.phys_omm_ab %>"/>
          </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Other</legend>
            <label for="oth_norm">Normal Findings</label>
            <input id="oth_norm" name="oth_norm" maxlength = "255" value = "<%= visit.phys_other_norm %>"/>
          
            <label for="oth_ab">Abnormal Findings</label>
            <input id="oth_ab" name="oth_ab" maxlength = "255" value = "<%= visit.phys_other_ab %>"/>
          </fieldset>
    </div>
    <div>
        <button type = "submit">Add Physical Exam</button>
    </div>
</form>