<head>
</head>

<h2 class = "link"><a href = "/home">Home</a></h2> 
<h3><a href = "/">Logout</a></h3>
<h2 class = "link"><a href = "/visit-record?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>">Back to visit</a></h2>
<h1>Add Social History</h1> 

<form action ="/newSocial?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>" method = 'POST'>
    <div>
        <label for = "occupation">Occupation</label>
        <input type="text" id = "occupation" name = "occupation" value = "<%= patient.occupation %>">
    </div>
    <div>
        <label for = "diet">Diet</label>
        <input type="text" id = "diet" name = "diet" value = "<%= patient.diet %>">
    </div>
    <div>
        <label for = "exercise">Exercise</label>
        <input type="text" id = "exercise" name = "exercise" value = "<%= patient.exercise %>">
    </div>
    <div>
        <label for = "curr_hous">Current place to stay?</label>
        <input type="text" id = "curr_hous" name = "curr_hous" value = "<%= patient.curr_hous %>">
    </div>
    <div>
        <label for = "yr3_hous">Have you ever not had a place to stay in the last 3 years?</label>
        <input type="text" id = "yr3_hous" name = "yr3_hous" value = "<%= patient.yr3_hous %>">
    </div>
    <div>
        <label for = "caffeine">Caffeine Use</label>
        <input type="text" id = "caffeine" name = "caffeine" value = "<%= patient.caffeine %>">
    </div>
    <div>
        <label for = "alc">Alcohol Use (drinks/wk)</label>
        <input type="text" id = "alc" name = "alc" value = "<%= patient.alc %>">
    </div>
    <label for = "tobacco">Tobacco Use:</label>
    <div id = "tobacco">
        <label for = "pkday">   Packs/day:</label>
        <input type="text" id = "pkday" name = "pkday" value = "<%= patient.packs_day %>">
        <label for = "yrs">     Years: </label>
        <input type="text" id = "yrs" name = "yrs" value = "<%= patient.yrs %>">
    </div>
    <div>
        <% if(patient.quit === null || patient.quit.includes("No")) { %>
            <label for = "quit">Desire to quit? (y/n)</label>
            <select id = "quit" name = "quit"  type = "text" >
                <option>No</option>
                <option>Yes</option>
            </select>
        <% } else { %> 
            <label for = "quit">Desire to quit? (y/n)</label>
            <select id = "quit" name = "quit"  type = "text" >
                <option>Yes</option>
                <option>No</option>
            </select>
        <% } %>
        </div>
    <div>
        <label for = "marijuana">Marijuana Use</label>
        <input type="text" id = "marijuana" name = "marijuana" value = "<%= patient.marijuana %>">
    </div>
    <div>
        <label for = "fundr">Current or past use of "Fun Drugs" (Crack/Cocaine/Heroine/Other)</label>
        <input type="text" id = "fundr" name = "fundr" value = "<%= patient.fun_drugs %>">
    </div>
    <div>
        
        <% if(patient.sex_act === null || patient.sex_act.includes("No")) { %>
            <label for = "sex_act">Sexually Active</label>
            <select id = "sex_act" name = "sex_act"  type = "text" >
                <option>No</option>
                <option>Yes</option>
            </select>
        <% } else { %> 
        <label for = "sex_act">Sexually Active</label>
        <select id = "sex_act" name = "sex_act"  type = "text" >
            <option>Yes</option>
            <option>No</option>
        </select>
        <% } %>
        
    </div>
    <div>
        <label for = "partners"># of partners in last yr</label>
        <input type="text" id = "partners" name = "partners" value = "<%= patient.partners %>">
    </div>
    <div>
        <label for = "protection">Protection use and type</label>
        <input type="text" id = "protection" name = "protection" value = "<%= patient.protection %>">
    </div>
    <div>
        <label for = "sti">STI hx?</label>
        <input type="text" id = "sti" name = "sti" value = "<%= patient.sti %>">
    </div>
    <button type = "submit">Add Social History</button>
</form>
