<head>
    <title> <%= title %></title>
    <link rel = "stylesheet" type = "text/css" href = "style/patient-record.css" />
</head>
<body style = "background-color:rgb(242, 246, 216)">
    <!-- <img src="img/guest.jpg" alt="Patient" width="200" height="200" class = "topleft"> -->
    <h2 class = "link"><a href = "/home">Home</a></h2> 
    <h3><a href = "/">Logout</a></h3>
    <h1>Patient: <%= patient.fName %> <%= patient.lName %></h1>
    
    <label for "div1" class = "infoLabel">General Patient Info</label>
    <div class ="genInfo" id = "div1">
        <div>
            <span>DOB: <%= patient.birthday %></span>
            <span>Sex: <%= patient.sex %></span>
            <span>Age: <%= patient.age %></span>
            <span>Insurance: <%= patient.insurance %></span>
            <span>PCP: <%= patient.pcp %></span>
        </div>
    </div>

    <label for "div2" class = "infoLabel">Visits</label>
    <div>
        <table class = "center" id = "queryTable" name = "openingtable" style = "width:77%">
            <tr>
              <th>Visit Date</th>
              <th>Event</th>
              <th>Attending Physician</th>
            </tr>
            <% patient.visits.forEach(function(visit) { %> 
                <tr>
                  <td><a href="/visit-record?visit_id=<%= visit.visit_id %>&patient_id=<%= patient.patient_id %>"><%= visit.date %></a></td>
                  <td><%= visit.event%></td>
                  <td><%= visit.physician%></td>
                  </tr>
              <% }) %> 
                </table>
    </div>
    <div>
        <a href = "/newVisit?patient_id=<%= patient.patient_id %>" class = "infoLabel">Add Visit</a>
    </div>
    
</body>

